.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
/*  background-color: #3f3f44;*/
    background-image: url(images/Shine1.jpg);
/*    background-size: 1500px 5000px;*/
    
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #888888;
  font-size: 6rem;
/*  color: #4ECCA3;*/
    color: palegreen;
}

h4 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 0 #1b1b2f;
  font-size: 3rem;
/*  color: #4ECCA3;*/
    color: palegreen;
}

p {
  font-size: 2rem;
/*  color: #342b38;*/
    color: palegreen;
/*    font-weight: bold;*/
  font-family: 'Indie Flower', cursive;
    
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#id1{
    height: 60px;
    color: palegreen;
    font-size: 1.7rem;
/*    font-weight: bold;*/
  font-family: 'Indie Flower', cursive;
}

#id2{
    color: white;
    font-size: 1rem;
  font-family: 'Indie Flower', cursive;
}
